@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
  text-align: center;
}
.active{
  background-color: #3A4256 !important;
  color: white !important;
  border-radius: 5px !important;
}
.menu{
  color: black;
}
.menu:hover{
  background-color: #3A4256 !important;
  color: white !important;
  border-radius: 5px !important;
}
.text-brand{
  color: #19D3AE;
}
.text-semi{
  color: #3A4256;
}
.ff-open{
  font-family: 'Open Sans', sans-serif;
}
.bg-original{
  background-color: #3A4256;
}
.bg-grad{
  background: linear-gradient(90deg, #19D3AE -22.5%, #0FCFEC 120.83%);
}

.banner{
  background-image: url('./assets//images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.appointment{
  background-image: url('/src/assets/images/appointment.png');
  height: 533px;
  background-size: cover;
  background-repeat: no-repeat;
}
#img{
  transform: translate(30px, -132px);
}
.border-brand{
  border-color: #19D3AE;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
